<div class="container p-4">
    <div class="row">

        {{#each file}}

            <div class="col-md-3">
                <div class="card text-centered text-white bg-primary mb-3 border-danger mb-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{name}}
                        </h5>
                        <a href="/files/delete/{{id}}" class="btn btn-danger">Borar</a>
                        <a href="/files/download/{{id}}" class="btn btn-success">Descargar</a>
                    </div>
                </div>
            </div>          
        {{/each}}

        <div class="col-md-3">
            <div class="card text-centered text-white bg-danger mb-3 border-primary">
                <div class="card-body">
                    <h5 class="card-title">
                        Subir nuevos archivos
                    </h5>
                    <a href="/files/upload" class="btn btn-success">Subir</a>
                </div>
            </div>
        </div>

    </div>
</div>