<div class="card text-center card text-white bg-secondary mb-3">
    <h5 class="card-header">Subir archivos</h5>
    <div class="card-body">
        <h5 class="card-title">Selecciona un archivo a subir</h5>
        <form action="/files/upload" , method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="archivo">
            </div>
            <input type="submit" value="Subir archivo" class="btn btn-success btn-block">
        </form>
    </div>
</div>