<div class="container p-3">
    <div class="row">
        <div class="card text-center card text-white bg-secondary mb-3">
            <h5 class="card-header">Buscar personas</h5>
            <div class="card-body">
                <h5 class="card-title">Escriba a quien quiere buscar</h5>
                <form action="/friends/search" method="POST">
                    <div class="form-group">
                        <input type="text" placeholder="Person" name="friend" class="form-control" autofocus>
                    </div>
                    <input type="submit" value="Buscar a la persona" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        
        {{#each person}}

        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5>
                        {{username}}
                    </h5>
                    <a href="/friends/profile/{{username}}" class="btn btn-primary">Perfil</a>
                </div>
            </div>
        </div>

        {{/each}}

    </div>
</div>